*{
    margin:0;
    padding: 0;
}
nav>ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
li{
    margin: 20px;
    transition-property: color,background-color, border, border-radius;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;

    border-color: red;
    border-radius: 0px;
    background-color: black;
    color:white;
    padding: 10px;
}
li:hover{
    color:red;
    background-color: white;
    border: red 1px solid;
    border-radius: 5px;


}